* {
    margin: 0;
    padding: 0
}

body {
    background-color: #f2eae3
}

.name {
    font-size: 16px;
    color: #e83d16 !important;
    font-weight: 500
}

.navbar-toggler {
    font-size: 15px
}

.nav-link {
    font-size: 14px;
    color: #000 !important;
    font-weight: bold;
    margin-left: 40px
}

.form-control {
    height: 32px;
    width: 100%;
    border-radius: 20px;
    color: #c7c6cb;
    font-size: 13px;
    border: none
}

.searchitem {
    position: relative
}

.searchitem i {
    position: absolute;
    right: 18px;
    top:10px;
    font-size: 13px
}

.btn {
    height: 35px;
    width: 170px;
    border: none;
    border-radius: 20px;
    background-color: #633a9c;
    font-size: 14px;
    font-weight: 500
}

.text {
    font-size: 23px;
    font-weight: bold
}

.card {
    height: 130px;
    overflow:hidden;
    border: none;
    border-radius: 15px
}

.imagename {
    font-size: 14px;
    font-weight: bold
}
